<% provide(:page_title, "Visualizar Professor") %>

<div class="card card-profile">
  <div class="card-header profile-bg"></div>
  <div class="card-body text-center">
    <%= image_tag @professor.image.url, class: 'card-profile-img' %>

    <h3 class="mb-3">Nome: <%= @professor.name %></h3>
    <p class="mb-4">Sexo: <%= @professor.gender %></p>
    <p class="mb-4"> Especialidade:
      <%= @professor.professor_title.name %> - <%= @professor.professor_title.abbrev %>
    </p>
    <p class="mb-4">Atuação: <%= @professor.occupation_area %></p>
    <p class="mb-4">Email: <%= @professor.email %></p>

    <p class="mb-4">Status: Professor(a) <%= @professor.professor_category.name %></p>
    <p>
      <%= render 'professor_activities' %>
    </p>

  </div>
</div>
<div class="d-flex">
  <%= link_to "Voltar", admins_professors_path, class: 'btn btn-secondary' %>
</div>
