<%= simple_form_for [:admins, @academic] do |f| %>

  <div class="form-row">

    <div class="col-sm-2"> <%= f.input :registration, autofocus: true  %> </div>
    <div class="col-sm-5"> <%= f.input :entry_date %> </div>
    <div class="col-sm-5"> <%= f.input :cod_sere %> </div>

    <div class="col-sm-9">
      <%= f.input :name %>
      <%= f.input :birth_date %>
      <%= f.input :birth_certificate %>
    </div>

    <div class="col-sm-3">
      <div id="box-image-preview" data-toggle="tooltip" data-placement="left" title="Clique na imagem para alterá-la">
        <div class="input-field image_preview">
          <div class="box-image center">
            <%= image_tag @academic.image.url, class: 'file_preview active' %>
            <%= f.input :image, label: false, input_html: { accept: 'image/*' }  %>
            <%= f.hidden_field :image_cache %>
          </div>
        </div>
        <div class="text-box text-center">
          <p class="text-input">Clique na imagem para alterá-la</p>
        </div>
      </div>
    </div>

    <div class="col-sm-3"> <%= f.input :rg_student %> </div>
    <div class="col-sm-5"> <%= f.input :expedition_rg_student %> </div>
    <div class="col-sm-4"> <%= f.input :cpf_student %> </div>

    <div class="col-sm-5"> <%= f.input :card_sus_number %> </div>
    <div class="col-sm-2"> <%= f.input :breed %> </div>
    <div class="col-sm-5"> <%= f.input :naturalness %> </div>

    <div class="col-sm-6"> <%= f.input :phone_student %> </div>
    <div class="col-sm-6"> <%= f.input :contact %> </div>

    <div class="col-sm-6"> <%= f.input :street %> </div>
    <div class="col-sm-3"> <%= f.input :neighborhood %> </div>
    <div class="col-sm-3"> <%= f.input :cep_student%> </div>

    <div class="col-sm-4"> <%= f.input :family_income %> </div>
  </div>

  <div class="d-flex">
    <%= link_to "Voltar", admins_academics_path, class: 'btn btn-secondary' %>
    <%= f.button :submit, class: 'btn btn-primary ml-auto' %>
  </div>
<% end %>
